.blogContainer {
  width: 100%;
  height: 20%;
  margin: 35px 0;
  display: flex;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}
.blogInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .blogInfoData {
    margin-bottom: 15px;
  }
}

@media (max-width: 830px) {
  .blogContainer {
    flex-direction: column;
    .blogLogo {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .blogInfo {
    .blogInfoData {
      padding: 10px 0 0 0;
    }
    .blogInfoTitle {
      padding: 5px 0;
      font-size: 1.2em;
    }
  }
}
