.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border: 1.5px solid #bababa2d;
  background-color: #efefee;

  svg {
    width: 30px;
    height: 30px;
    color: #000000;
  }
}

.navBarMenu {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 25%;
  svg {
    padding-right: 5px;
  }
  &:hover {
    cursor: pointer;
  }
}

.navBarAreaControls {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  a {
    padding: 0 10px;
  }
}

.sidePanelContainer {
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  background-color: #0000003b;
  z-index: 22;

  a {
    text-decoration: none;
    color: #000000;
    &:hover {
      cursor: pointer;
    }
  }
  .sidePanelContainerRelative {
    position: relative;
    width: 100%;
    height: 100%;

    .sidePanel {
      position: absolute;
      top: 0;
      left: 0;
      padding: 32px;
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100%;
      background: #fefefe;
      z-index: 33;
      overflow-y: auto;
      &::-webkit-scrollbar-thumb {
        background: #e47e7e; /* цвет фона у дорожки */
        border-radius: 8px; /* скругление углов */
        border: 3px solid #f5cdcd; /* толщина, стиль и цвет рамки */
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b91414; /* ползунок меняет цвет при наведении */
      }
      .sidePanelCatalog {
        margin-bottom: 32px;
        .sidePanelCatalogElement {
          padding: 16px 0;
          border-bottom: 1px solid #f7f7f7;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
      .sidePanelCatalogMenu {
        padding-bottom: 32px;
        border-bottom: 1px solid #f7f7f7;
        .sidePanelCatalogMenuElement {
          margin-bottom: 15px;
        }
      }
      .sidePanelCatalogSoclinks {
        display: flex;

        .sidePanelCatalogSoclinksLink {
          padding: 0 20px 20px 0;
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

.closeIcon {
  position: absolute;
  top: 3%;
  left: 27%;
  svg {
    width: 35px;
    height: 35px;
    color: #ffffff;
    &:hover {
      color: #00000036;
      cursor: pointer;
    }
  }
}
