.container {
  width: 100%;
  height: calc(100% - 160px);
  min-height: calc(100vh - 160px);
  .searchInput {
    width: 95%;
    margin: 20px 25px;
    border: 2px solid #ababab;
    svg {
      display: none;
    }
  }
  h2 {
    padding: 50px 50px 0 50px;
    font-weight: 300;
  }

  .searchProduct {
    margin: 30px 0 150px;
    padding: 0 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .container {
    .searchInput {
      width: 85%;
    }
    .searchProduct {
      width: 100%;
      padding: 0 1.6%;
      justify-content: space-around;
    }
  }
}
