.container {
  width: 100%;
  height: calc(100% - 160px);
  min-height: calc(100vh - 160px);
  .contentNavigate {
    padding: 5% 10% 2%;
    a {
      text-decoration: none;
      color: #1b1b1bbb;
      &:hover {
        color: #000000;
      }
    }
  }

  .contentProducts {
    padding: 0 20%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .container {
    .contentProducts {
      padding: 3% 0;
      justify-content: center;
    }
  }
}
