.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h4 {
    margin: 30px 0;
    padding: 0 30px;
  }

  .proposalProducts {
    margin: 30px 0;
    padding: 0 320px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.orderContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  .orderProductsContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.orderInfo {
  width: 25%;
  display: flex;
  flex-direction: column;
  .orderInfoPromo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 24px;
    margin-bottom: 15px;
    span {
      margin-bottom: 24px;
      font-size: 1.2em;
    }
    .orderInfoPromoInput {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 48px;

      input {
        width: 90%;
        height: 100%;
        font-size: 1.2em;
        padding: 10px;
      }
      .orderInfoPromoInputSvg {
        padding: 12px;
        background-color: #606372;
        svg {
          width: 24px;
          height: 24px;

          color: #ffffff;
        }
      }
    }
  }
  .orderControl {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    .orderControlProducts,
    .orderControlPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      p {
        font-size: 1.7em;
      }
    }
    .orderControlButton {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background-color: #1e2339;
      padding: 23px 0;
      font-size: 1.1em;
    }
  }
}
@media (max-width: 830px) {
  .container {
    .proposalProducts {
      padding: 0;
      .proposalProductsLp {
        width: 164px;
      }
    }
  }
  .orderContainer {
    flex-direction: column;
    .orderProductsContainer {
      width: 100%;
    }
  }
  .orderInfo {
    width: 100%;
  }
}
