.container {
  width: 100%;
  height: calc(100% - 160px);
  min-height: calc(100vh - 160px);
  h2 {
    padding: 50px 50px 0 50px;
    font-weight: 300;
  }
  .proposalProductsContainer {
    margin: 30px 0;
    padding: 0 320px;
    p {
      padding: 25px 50px;
    }
    .proposalProducts {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  .favoritesProduct {
    margin: 30px 0 50px;
    padding: 0 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .container {
    .favoritesProduct {
      width: 100%;
      padding: 0 1.6%;
      justify-content: space-between;
    }
    .proposalProductsContainer {
      padding: 0;
    }
  }
}
