.container {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #fefefe;
  width: 60%;
  height: 87%;
  display: flex;
  align-items: center;

  .wrapperContent {
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
}
