.postsContainer {
  background-color: #f7f7f7;
  width: 100%;
  height: 100vh;
}

.wrapperPosts {
  margin: 0 20%;
  padding: 10px 0;
  width: 60%;
  height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
}

.wrapperPostsContent {
  width: 80%;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: #252525;
  }
  &:hover {
    background-color: #c4c4c47d;
    border-radius: 25px;
  }
}
