.userContainer {
  background-color: #f7f7f7;
  width: 100%;
  height: 100vh;
}
.wrapperContainer {
  margin: 0 20%;
  width: 60%;
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fefefe;
  h1 {
    width: 100%;
    height: 10%;
    margin: 2% 0;
    text-align: center;
  }

  .wrapperContainerUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 90%;

    .user {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;

      a {
        color: #252525;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        border: 0.5px solid #bfbfbf;
        border-radius: 25px;
        &:hover {
          background-color: rgb(212, 212, 212);
        }
        span {
          width: 33.33%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
